{% extends '__base__.html' %}
{% block title %}
{% if time %}
weekpie:{{ time }}
{% else %}
weekpie
{% endif %}
{% endblock %}

{% block content %}
{% if time %}
<h3>The weekpie on {{ time }}</h3>
<img src="/static/img/weekpie.png">
{% else %}
<h3>Weekpie</h3>
<form action="/week/pie/" method="post">
    <fieldset>
        <legend>请输入想查看的日期:</legend>
        <p><input name="time" placeholder="YYYY-mm-dd"></p>
        <p><button type="submit" class="button1">Submit</button></p>
    </fieldset>
</form>
<p>您也可以通过在本页面网址后加上想要查看的日期来查看所在周的发言饼图。</p>
{% endif %}
{% endblock %}